@{
    ViewData["Title"] = "Website Promo Dashboard";
}

<!--Vue container-->
<div id="dashboardApp">

    <div class="row">
        <a asp-controller="Promo" asp-action="Index">
            <h3 v-cloak><i class="fa fa-question-circle-o" aria-hidden="true"></i> Current Subscription: {{Dashboard.CurrentSubscription}}</h3>
            <br />
        </a>
    </div>

    <div class="row">
        <a asp-area="Promotion" asp-controller="CreatePromo" asp-action="CreateNewPromo" class="btn btn-lg btn-primary "><i class="fa fa-rocket" aria-hidden="true"></i> Create New Promotion</a>
        <br />
    </div>

    <div class="col-sm-6" style="left:50%" id="ajaxLoading">
        <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
        <!--todo, add help doc or video on how/why to create promotions when there is not one active yet.....-->
    </div>

    <div class="row">
        <div v-cloak v-if="Dashboard.ActivePromo === null">
            <h3><i class="fa fa-warning" aria-hidden="true"></i> No active promotions currently</h3>
        </div>
        <div hidden id="activePromoData">
            <div v-if="Dashboard.ActivePromo !== null" class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Active Promotion:</h3>
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{Dashboard.ActivePromo}}</h3>
                            </div>
                            <div class="panel-body">
                                <p>Claimed Entries: {{Dashboard.ActivePromoClaimedEntries}}</p>
                                <p>Start Date: {{Dashboard.ActivePromoStartDate}}</p>
                                <p>End Date: {{Dashboard.ActivePromoEndDate}}</p>
                            </div>
                        </div>
                        <a class="btn btn-lg btn-danger" style="text-align:center"><i class="fa fa-warning" aria-hidden="true"></i> STOP PROMOTION NOW</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3> <i class="fa fa-code" aria-hidden="true"></i> Active Promo Script </h3>
                        {{Dashboard.ActivePromoScript}}
                    </div>
                </div>
            </div>
            <div v-if="Dashboard.ActivePromo !== null" class="col-sm-6">
                <h3><i class="fa fa-line-chart" aria-hidden="true"></i> Promo Stats</h3>
                <div class="well">
                    1
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    1
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    1
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    1
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                </div>
            </div>
        </div>
    </div>

    <div hidden id="pasPromoData" v-if="Dashboard.ActivePromo !== null" class="row">

        <div class="row">
            <div class="col-sm-6">
                <h3><i class="fa fa-star-half-full" aria-hidden="true"></i> Inactive Promotions:</h3>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title1</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title2</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title3</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title4</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title3</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title4</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>

@*@{ if ((bool)ViewData["NewUser"] == true)
    {
        <script>$("#newUserModal").modal('show');</script>
    }}*@

@*<div id="newUserModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Hello there</h2>
            </div>
            <div class="modal-body">
                <p>This is just a sample of what your custom slider will look like on your website.</p>
                <p>On your live site, the submit button will submit the user's message to the email address you sepcify.  You will then be notifyed of that message.</p>
                <p>Have a swell day.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>*@

<script src="~/js/Promo/dashboard.js"></script>