<div class="col-md-offset-1" onclick="showCustomSliderImage()">
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo1" v-model="Promotion.ImageName" />
        <img id="promo1" src="~/images/Slider/promo1.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo2" v-model="Promotion.ImageName" />
        <img id="promo2" src="~/images/Slider/promo2.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo3" v-model="Promotion.ImageName" />
        <img id="promo3" src="~/images/Slider/promo3.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo4" v-model="Promotion.ImageName" />
        <img id="promo4" src="~/images/Slider/promo4.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo5" v-model="Promotion.ImageName" />
        <img id="promo5" src="~/images/Slider/promo5.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo6" v-model="Promotion.ImageName" />
        <img id="promo6" src="~/images/Slider/promo6.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo7" v-model="Promotion.ImageName" />
        <img id="promo7" src="~/images/Slider/promo7.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo8" v-model="Promotion.ImageName" />
        <img id="promo8" src="~/images/Slider/promo8.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo9" v-model="Promotion.ImageName" />
        <img id="promo9" src="~/images/Slider/promo9.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo10" v-model="Promotion.ImageName" />
        <img id="promo10" src="~/images/Slider/promo10.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo11" v-model="Promotion.ImageName" />
        <img id="promo11" src="~/images/Slider/promo11.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo12" v-model="Promotion.ImageName" />
        <img id="promo12" src="~/images/Slider/promo12.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo13" v-model="Promotion.ImageName" />
        <img id="promo13" src="~/images/Slider/promo13.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo14" v-model="Promotion.ImageName" />
        <img id="promo14" src="~/images/Slider/promo14.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo15" v-model="Promotion.ImageName" />
        <img id="promo15" src="~/images/Slider/promo15.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo16" v-model="Promotion.ImageName" />
        <img id="promo16" src="~/images/Slider/promo16.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo17" v-model="Promotion.ImageName" />
        <img id="promo17" src="~/images/Slider/promo17.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo18" v-model="Promotion.ImageName" />
        <img id="promo18" src="~/images/Slider/promo18.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo19" v-model="Promotion.ImageName" />
        <img id="promo19" src="~/images/Slider/promo19.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo20" v-model="Promotion.ImageName" />
        <img id="promo20" src="~/images/Slider/promo20.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo21" v-model="Promotion.ImageName" />
        <img id="promo21" src="~/images/Slider/promo21.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo22" v-model="Promotion.ImageName" />
        <img id="promo22" src="~/images/Slider/promo22.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo23" v-model="Promotion.ImageName" />
        <img id="promo23" src="~/images/Slider/promo23.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo24" v-model="Promotion.ImageName" />
        <img id="promo24" src="~/images/Slider/promo24.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo25" v-model="Promotion.ImageName" />
        <img id="promo25" src="~/images/Slider/promo25.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo26" v-model="Promotion.ImageName" />
        <img id="promo26" src="~/images/Slider/promo26.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo27" v-model="Promotion.ImageName" />
        <img id="promo27" src="~/images/Slider/promo27.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo28" v-model="Promotion.ImageName" />
        <img id="promo28" src="~/images/Slider/promo28.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo29" v-model="Promotion.ImageName" />
        <img id="promo29" src="~/images/Slider/promo29.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo30" v-model="Promotion.ImageName" />
        <img id="promo30" src="~/images/Slider/promo30.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo31" v-model="Promotion.ImageName" />
        <img id="promo31" src="~/images/Slider/promo31.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo32" v-model="Promotion.ImageName" />
        <img id="promo32" src="~/images/Slider/promo32.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo33" v-model="Promotion.ImageName" />
        <img id="promo33" src="~/images/Slider/promo33.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo34" v-model="Promotion.ImageName" />
        <img id="promo34" src="~/images/Slider/promo34.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo35" v-model="Promotion.ImageName" />
        <img id="promo35" src="~/images/Slider/promo35.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo36" v-model="Promotion.ImageName" />
        <img id="promo36" src="~/images/Slider/promo36.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo37" v-model="Promotion.ImageName" />
        <img id="promo37" src="~/images/Slider/promo37.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo38" v-model="Promotion.ImageName" />
        <img id="promo38" src="~/images/Slider/promo38.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo39" v-model="Promotion.ImageName" />
        <img id="promo39" src="~/images/Slider/promo39.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo40" v-model="Promotion.ImageName" />
        <img id="promo40" src="~/images/Slider/promo40.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo41" v-model="Promotion.ImageName" />
        <img id="promo41" src="~/images/Slider/promo41.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo42" v-model="Promotion.ImageName" />
        <img id="promo42" src="~/images/Slider/promo42.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo43" v-model="Promotion.ImageName" />
        <img id="promo43" src="~/images/Slider/promo43.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo44" v-model="Promotion.ImageName" />
        <img id="promo44" src="~/images/Slider/promo44.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo45" v-model="Promotion.ImageName" />
        <img id="promo45" src="~/images/Slider/promo45.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo46" v-model="Promotion.ImageName" />
        <img id="promo46" src="~/images/Slider/promo46.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo47" v-model="Promotion.ImageName" />
        <img id="promo47" src="~/images/Slider/promo47.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo48" v-model="Promotion.ImageName" />
        <img id="promo48" src="~/images/Slider/promo48.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo49" v-model="Promotion.ImageName" />
        <img id="promo49" src="~/images/Slider/promo49.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo50" v-model="Promotion.ImageName" />
        <img id="promo50" src="~/images/Slider/promo50.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo51" v-model="Promotion.ImageName" />
        <img id="promo51" src="~/images/Slider/promo51.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo52" v-model="Promotion.ImageName" />
        <img id="promo52" src="~/images/Slider/promo52.png">
    </label>
    <label>
        <input type="radio" name="promoImage" class="form-control" value="promo53" v-model="Promotion.ImageName" />
        <img id="promo53" src="~/images/Slider/promo53.png">
    </label>
</div>