@{
    ViewData["Title"] = "OsO Easy Promo - Create Custom Website Promotion";
}

<div class="row">

    <h2><i class="fa fa-question-circle-o helpText" style="color:#337ab7" aria-hidden="true" onclick="showHelpStep1()"></i> Create a Promotion</h2>
</div>
<br />

<!--Vue container-->
<div id="newPromoApp">

    <!--This partial view will be updated to show the user what their custom slider will look and act like....-->
    @{ Html.RenderPartial("UserSlider.cshtml"); }
    @{ Html.RenderPartial("PromoHelpModal.cshtml"); }

    <div class="row">
        <div class="col-md-1">
            <p>Title:</p>
        </div>
        <div class="col-md-5">
            <input placeholder="Enter your title here, eg 'Save Today!'" type="text" class="form-control" v-model="Promotion.Title" />
            <small hidden id="titleMissing" style="color:red">Title is required</small>
        </div>
        <div class="col-md-1">
            <p>End Date: </p>
        </div>
        <div class="col-md-3" id="promoDate">
            <div class="input-group date">
                <input type="text" class="form-control" v-model="Promotion.EndDate"><span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            </div>
            <small hidden id="dateMissing" style="color:red">Date is required</small>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1">
            <p>Code:</p>
        </div>
        <div class="col-md-5">
            <input placeholder="Enter a unique code here" type="text" class="form-control" v-model="Promotion.Code" />
            <small hidden id="codeMissing" style="color:red">Code is required</small>
        </div>
        <div class="col-md-1">
            <p>Discount: </p>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" placeholder="eg: 50% off everything!" v-model="Promotion.Discount" />
            <small hidden id="discountMissing" style="color:red">Discount is required</small>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1">
            <p>Details 1: </p>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" v-model="Promotion.Details1" />
        </div>
        <div class="col-md-1">
            <p>Details 2: </p>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" v-model="Promotion.Details2" />
        </div>
        <div class="col-md-1">
            <p>Fine Print: </p>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" v-model="Promotion.FinePrint" />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <label style="padding-right:5px" for="showCouponBorder">Show a coupon border </label>
            <input type="checkbox" name="showCouponBorder" value="showCouponBorder" class="helpText" v-model="Promotion.ShowCouponBorder" onclick="showCouponBorder()">
        </div>
    </div>
    <div class="row">
        <p class="col-md-1">Colors:</p>
        <div class="col-md-3">
            <label for="backgroundColor" style="padding-right:5px">Promo background color</label>
            <input type="color" id="backgroundColor" name="backgroundColor" v-model="Promotion.BackgroundColor" onchange="setFormBackgroundColor()" />
        </div>
        <div class="col-md-3">
            <label for="buttonColor" style="padding-right:5px">Promo button color</label>
            <input type="color" id="buttonColor" name="buttonColor" v-model="Promotion.ButtonColor" onchange="setFormButtonColor()" />
        </div>
        <div class="col-md-3">
            <a href="http://www.color-hex.com/color-palettes/popular.php" target="_blank"><i class="fa fa-paint-brush" aria-hidden="true"></i> Discover beautiful colors</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-1">
            <p>Image: </p>
        </div>

        <!--CAN THIS BE DONE????? IF SO, then do it!!!!-->
        @*<div class="col-md-6" onclick="showCustomSliderImage()">
            <div v-for="index in totalImages">
                <label>
                    <input type="radio" name="promoImage[index]" class="form-control" value="promo[index]" v-model="Promotion.ImageName" />
                    <img id="promo[index]">
                </label>
            </div>
        </div>*@

       @{ Html.RenderPartial("SliderImageHolder.cshtml"); }


    </div>
    <br />

    <div class="row">
        <button type="submit" class="btn btn-primary" onclick="saveCustomSettings(false, 'saveSuccessMsg')"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Save</button>
        <button class="btn btn-primary" onclick="saveCustomSettings(true, 'activateSuccessMsg')"><i class="fa fa-rocket" aria-hidden="true"></i> Save & Start Promotion</button>
        <button style="display:none" id="deletePromoBtn" class="btn btn-danger" onclick="deletePromo()"><i class="fa fa-remove" aria-hidden="true"></i> Delete</button>
    </div>
    <div class="row">
        <h3 hidden id="saveSuccessMsg" style="color:green">Save Successful</h3>
        <h3 hidden id="activateSuccessMsg" style="color:green">Promotion Saved & Active!</h3>
    </div>
</div>


<div id="deletePromoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Delete this promotion?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="confirmDeletePromo()"><i class="fa fa-remove" aria-hidden="true"></i> Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="submitSliderClick" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Hi there</h2>
            </div>
            <div class="modal-body">
                <h3>
                    Once a user visiting your website claims your promotion a few things will happen
                </h3>
                <ul>
                    <li>
                        We will send the user an email with your promo code in it.<br />
                        -<small>You should honor the promo/coupon code you establish here online and in person.</small>
                    </li>
                    <li>
                        The user's name and Email will be saved for you to use in the future.<br />
                        -<small>You can find and export user information on your dashboard.</small>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Promo/createPromo.js"></script>
<script src="~/js/Promo/promoSlider.js"></script>
<link rel="stylesheet" href="~/css/slider.css" />