@{
    ViewData["Title"] = "Oso Easy Promo - Create Custom Website Promotion";
}

<environment names="Development">
    <script src="~/lib/vue/vue.js"></script>
</environment>
<environment names="Staging,Production">
    <!--Reference here instead of in footer because of null reference of Vue in a View-->
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" asp-append-version="true"
            asp-fallback-src="~/lib/vue/vue/min.js">
    </script>
</environment>

<section>
    <div class="container">

        <div id="ajaxLoading" class="col-sm-12 home-header-padding" style="text-align:center">
            <br /><br /><br />
            <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
        </div>

        <div style="display:none" id="promoData">
            @if (ViewBag.newPromo == true)
            {
                <div class="row">
                    <h1 class="home-header-container mx-auto">
                        <i class="fa fa-question-circle-o helpText" style="color:#337ab7" aria-hidden="true" onclick="showHelpStep1()">
                        </i> Create a new website promotion
                    </h1>
                </div>
                <br />

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="coupon-tab" data-toggle="tab" href="#show-coupon" role="tab" aria-controls="show-coupon" aria-selected="true"><i class="fa fa-tags" aria-hidden="true"></i> Coupon Promotion</a>
                        <a class="nav-item nav-link" id="show-social-tab" data-toggle="tab" href="#show-social" role="tab" aria-controls="show-social" aria-selected="false"><i class="fa fa-facebook-official" aria-hidden="true"></i> Social Promotion</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="show-coupon" role="tabpanel" aria-labelledby="coupon-tab">
                        <br />
                        <!--Vue container-->
                        <div id="newPromoApp">
                            @{ await Html.RenderPartialAsync("Coupon/CreateCoupon.cshtml"); }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="show-social" role="tabpanel" aria-labelledby="show-social-tab">
                        <br />
                        <!--Vue container-->
                        <div id="socialSharing">
                            @{ await Html.RenderPartialAsync("Social/CreateSocialSharing.cshtml"); }
                        </div>
                    </div>
                </div>

                <script async src="~/js/Promo/promoSlider.min.js"></script>
                <script async src="~/js/Promo/createPromo.min.js"></script>
                <script async src="~/js/Promo/createSocialSharing.min.js"></script>

            }
            else
            {
                if (ViewBag.promoType == "coupon")
                {
                    <!--Vue container-->
                    <div id="newPromoApp">

                        <div class="row">
                            <h1 class="home-header-container mx-auto">Edit coupon promotion</h1>
                        </div>
                        <br />

                        @{ await Html.RenderPartialAsync("Coupon/CreateCoupon.cshtml"); }
                    </div>

                    <script async src="~/js/Promo/promoSlider.min.js"></script>
                    <script async src="~/js/Promo/createPromo.min.js"></script>
                }
                else if (ViewBag.promoType == "social")
                {
                    <!--Vue container-->
                    <div id="socialSharing">

                        <div class="row">
                            <h1 class="home-header-container mx-auto">Edit social promotion</h1>
                        </div>
                        <br />

                        @{ await Html.RenderPartialAsync("Social/CreateSocialSharing.cshtml"); }
                    </div>

                    <script async src="~/js/Promo/createSocialSharing.min.js"></script>

                }
            }

            <!--Modals-->
            @{ await Html.RenderPartialAsync("PromoHelpModal.cshtml"); }
        </div>
    </div>
</section>
<br /><br />

<link async rel="stylesheet" href="~/css/promo.min.css" />
<link async rel="stylesheet" href="~/css/social.min.css" />