@model OsOEasy.Models.DBModels.Promotion

@{
    ViewData["Title"] = "OsO Easy Promo - Create Custom Website Promotion";
}

<!--Vue container-->
<div id="newPromoApp">

    <div class="row">
        <h2>
            <i class="fa fa-question-circle-o helpText" style="color:#337ab7" aria-hidden="true" v-on:click="showHelpStep1()">
            </i> Create a Promotion
        </h2>
    </div>
    <br />

    <!--This partial view will be updated to show the user what their custom slider will look and act like....-->
    @*@{ Html.RenderPartial("UserSlider.cshtml"); }*@
    @{ Html.RenderPartial("PromoHelpModal.cshtml"); }

    <form asp-controller="CreatePromo" asp-action="SaveNewPromo" id="promoForm" method="post">
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="Title">Title:</label>
                <input asp-for="Title" id="title" type="text" class="form-control">
                <small hidden id="titleMissing" style="color:red">Title is required</small>
            </div>
            <div class="col-md-4">
                <label asp-for="Code">Promotion Code:</label>
                <input asp-for="Code" id="code" type="text" class="form-control">
                <small hidden id="codeMissing" style="color:red">Code is required</small>
            </div>
            <div class="col-md-4">
                <label asp-for="EndDate">End Date:</label>
                <input asp-for="EndDate" id="endDate" type="date" class="form-control">
                <small hidden id="dateMissing" style="color:red">Date is required</small>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label asp-for="Discount">Discount:</label>
                <input asp-for="Discount" id="discount" type="text" class="form-control" placeholder="eg: 50% off everything!">
                <small hidden id="discountMissing" style="color:red">Discount is required</small>
            </div>
            <div class="col-md-3">
                <label asp-for="Details1">Detils 1:</label>
                <input asp-for="Details1" type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label asp-for="Details2">Details 2:</label>
                <input asp-for="Details2" type="text" class="form-control">
            </div>
            <div class="col-md-3">
                <label asp-for="FinePrint">Fine Print:</label>
                <input asp-for="FinePrint" type="text" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label asp-for="ShowCouponBorder" style="padding-right:5px">Show a coupon border? </label>
                <input asp-for="ShowCouponBorder" type="checkbox" class="helpText" v-on:click="showCouponBorder()">
            </div>
            <div class="col-md-3">
                <label asp-for="BackgroundColor" style="padding-right:5px">Promo Background Color: </label>
                <input asp-for="BackgroundColor" type="color" onchange="setFormBackgroundColor()">
            </div>
            <div class="col-md-3">
                <label asp-for="ButtonColor" style="padding-right:5px">Promo Button Color: </label>
                <input asp-for="ButtonColor" type="color" onchange="setFormButtonColor()">
            </div>
        </div>

        <input id="promoId" asp-for="Id" type="hidden" />

        <button type="submit"
                v-on:click="updateFormImageValue(); validForm($event)"
                id="savePromo"
                class="btn btn-primary">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Save Promotion
        </button>
        <button style="display:none"
                id="deletePromoBtn"
                type="button"
                v-on:click="deletePromo()"
                class="btn btn-danger">
            <i class="fa fa-remove" aria-hidden="true"></i> Delete
        </button>
        <br /><br />

        <h2>
            Choose an image:
            <button type="button"
                    class="btn btn-primary"
                    v-on:click="getPromoImages('coupon')"
                    style="box-shadow:0px 0px 0px">
                Coupon/Sale
            </button>
            <button type="button"
                    class="btn btn-success"
                    v-on:click="getPromoImages('money')"
                    style="box-shadow:0px 0px 0px">
                Money
            </button>
            <button type="button"
                    class="btn btn-info"
                    v-on:click="getPromoImages('fun')"
                    style="box-shadow:0px 0px 0px">
                Fun
            </button>
        </h2>

        <div class="col-md-6" style="left:50%" id="ajaxLoading" hidden>
            <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
        </div>

        <label v-for="name in PromotionImages" v-on:click="showCustomSliderImage()">
            <input asp-for="ImageName"
                   type="radio"
                   name="ImageName"
                   value=""
                   v-on:click="updatedSelectedImageValue(name)" />
            <img :src="getImagePath(name)" style="width:100px" />
        </label>

    </form>


    <!--Modals-->
    <div id="deletePromoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Delete this promotion?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="confirmDeletePromo()"><i class="fa fa-remove" aria-hidden="true"></i> Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="submitSliderClick" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Hi there</h2>
            </div>
            <div class="modal-body">
                <h3>
                    Once a user visiting your website claims your promotion a few things will happen
                </h3>
                <ul>
                    <li>
                        We will send the user an email with your promo code in it.<br />
                        -<small>You should honor the promo/coupon code you establish here online and in person.</small>
                    </li>
                    <li>
                        The user's name and Email will be saved for you to use in the future.<br />
                        -<small>You can find and export user information on your dashboard.</small>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Promo/createPromo.js"></script>
<script src="~/js/Promo/promoSlider.js"></script>
<link rel="stylesheet" href="~/css/slider.css" />