@{
    ViewData["Title"] = "OsO Easy Promo - Create Custom Website Promotion";
}

<!--Vue container-->
<div id="newPromoApp">

    <div class="row">
        <h2>
            <i class="fa fa-question-circle-o helpText" style="color:#337ab7" aria-hidden="true" v-on:click="showHelpStep1()">
            </i> Create a Promotion
        </h2>
    </div>
    <br />

    <!--This partial view will be updated to show the user what their custom promotion will look and act like....-->
    @{ Html.RenderPartial("PromoSlider.cshtml"); }
    @{ Html.RenderPartial("PromoHelpModal.cshtml"); }

    <form id="promoForm">
        <div class="row form-group">
            <div class="col-md-4">
                <label for="Title">Title:</label>
                <input for="Title" id="Title" type="text" v-model="PromoModel.title" class="form-control">
                <small hidden id="titleMissing" style="color:red">Title is required</small>
            </div>
            <div class="col-md-4">
                <label for="Code">Promotion Code:</label>
                <input for="Code" id="code" type="text" v-model="PromoModel.code" class="form-control">
                <small hidden id="codeMissing" style="color:red">Code is required</small>
            </div>
            <div class="col-md-4">
                <label for="EndDate">End Date:</label>
                <input for="EndDate" id="endDate" type="date" v-model="PromoModel.endDate" class="form-control">
                <small hidden id="dateMissing" style="color:red">Date is required</small>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="Discount">Discount:</label>
                <input for="Discount" id="discount" type="text" v-model="PromoModel.discount" class="form-control"
                       placeholder="eg: 50% off everything!">
                <small hidden id="discountMissing" style="color:red">Discount is required</small>
            </div>
            <div class="col-md-3">
                <label for="Details1">Detils 1:</label>
                <input for="Details1" type="text" v-model="PromoModel.details1" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="Details2">Details 2:</label>
                <input for="Details2" type="text" v-model="PromoModel.details2" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="FinePrint">Fine Print:</label>
                <input for="FinePrint" type="text" v-model="PromoModel.finePrint" class="form-control">
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3">
                <label for="ShowCouponBorder" style="padding-right:5px">Show a coupon border? </label>
                <input for="ShowCouponBorder" type="checkbox" class="helpText" v-model="PromoModel.showCouponBorder"
                       v-on:click="showCouponBorder()">
            </div>
            <div class="col-md-3">
                <label for="BackgroundColor" style="padding-right:5px">Background Color: </label>
                <input for="BackgroundColor" id="backgroundColor" type="color" v-model="PromoModel.backgroundColor" v-on:change="setFormBackgroundColor()">
            </div>
            <div class="col-md-3">
                <label for="ButtonColor" style="padding-right:5px">Button Color: </label>
                <input for="ButtonColor" id="buttonColor" type="color" v-model="PromoModel.buttonColor" v-on:change="setFormButtonColor()">
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-6">
                <label for="thankYouMsg">
                    <i class="fa fa-question-circle-o helpText"
                       style="color:#337ab7"
                       aria-hidden="true"
                       v-on:click="showFormSubmitHelp()">
                    </i> Form Submit Thank You Message:
                </label>
                <input for="thankYouMsg"
                       type="text"
                       v-model="PromoModel.thankYouMessage"
                       class="form-control"
                       placeholder="eg: Check your email for you coupon code!">
                <small hidden id="thankYouMissing" style="color:red">Thank you message is required</small>
            </div>
        </div>

        <button type="button"
                v-on:click="saveCustomPromo()"
                id="savePromo"
                class="btn btn-primary">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i> Save Promotion
        </button>
        @*<button style="display:none"
                    id="deletePromoBtn"
                    type="button"
                    v-on:click="deletePromo()"
                    class="btn btn-danger">
                <i class="fa fa-remove" aria-hidden="true"></i> Delete
            </button>*@
        <br /><br />

        <small>*New images being added all the time, check back often</small>
        <h2>
            Choose an image:
            <button type="button"
                    class="btn btn-success"
                    v-on:click="getPromoImages('animals')"
                    style="box-shadow:0px 0px 0px">
                Animals
            </button>
            <button type="button"
                    class="btn btn-info"
                    v-on:click="getPromoImages('style')"
                    style="box-shadow:0px 0px 0px">
                Style
            </button>
            <button type="button"
                    class="btn btn-default"
                    v-on:click="getPromoImages('tech')"
                    style="box-shadow:0px 0px 0px">
                Tech
            </button>
            <button type="button"
                    class="btn btn-pricing-gold"
                    v-on:click="getPromoImages('coupon')"
                    style="box-shadow:0px 0px 0px">
                Coupon
            </button>
            <button type="button"
                    class="btn btn-pricing-bronze"
                    v-on:click="getPromoImages('misc')"
                    style="box-shadow:0px 0px 0px">
                Misc
            </button>
            <button type="button"
                    class="btn btn-pricing-silver"
                    v-on:click="getPromoImages('social')"
                    style="box-shadow:0px 0px 0px">
                Social
            </button>
            <button type="button"
                    class="btn btn-danger"
                    v-on:click="getPromoImages('tactical')"
                    style="box-shadow:0px 0px 0px">
                Tactical
            </button>
            <button type="button"
                    class="btn btn-warning"
                    v-on:click="getPromoImages('nature')"
                    style="box-shadow:0px 0px 0px">
                Nature
            </button>
        </h2>

        <div class="col-md-6" style="left:50%" id="ajaxLoading" hidden>
            <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
        </div>

        <div class="col-md-10">
            <label v-for="(name, index) in PromoImages">
                <img :src="getImagePath(name)"
                     class="helpText"
                     v-bind:id="'image_' + index"
                     v-on:click="setPromoImage(name, 'image_' + index)"
                     style="width:64px; height:64px" />
            </label>
            <br /><br /><br />
        </div>
    </form>

    <!--Modals-->
    <div id="deletePromoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Delete this promotion?</h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="confirmDeletePromo()"><i class="fa fa-remove" aria-hidden="true"></i> Delete</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="formSubmitHelpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Promotion submission</h2>
                    <p>This field is for a custom message to your users once they submit their email and name for your promotion.</p>
                    <p>Make sure to let your users know their promotion code will be emailed to them.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/Promo/createPromo.js"></script>
<script src="~/js/Promo/promoSlider.js"></script>
<link rel="stylesheet" href="~/css/promo.css" />