@{
    ViewData["Title"] = "OsO Easy Promo - Website Promo Dashboard";
}

<!--Vue container-->
<div id="dashboardApp">

    <div class="col-md-6" style="left:50%" id="ajaxLoading">
        <br /><br /><br />
        <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
        <!--todo, add help doc or video on how/why to create promotions when there is not one active yet.....-->
    </div>

    <div hidden id="activePromoData">
        <div class="row">
            <div class="col-md-6" role="alert">
                <div class="alert alert-success helpText" v-on:click="showUserScriptInfo()">
                    <p style="text-align:center"><i class="fa fa-info-circle" aria-hidden="true"></i> Site Script Info</p>
                </div>
            </div>
            <div class="col-md-6" style="padding-top:15px">
                <a id="manage" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage Account">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    {{Dashboard.DashboardMessage}}
                </a>
            </div>
        </div>
        <br />

        <div class="row">
            <div v-cloak v-if="Dashboard.ActivePromo === null">
                <div class="col-md-6">
                    <h3><i class="fa fa-warning" style="color:red" aria-hidden="true"></i> No active promotions currently</h3>
                    <h3>
                        <a id="createPromo" asp-area="Promotion" asp-controller="CreatePromo" asp-action="CreateNewPromo">
                            <i class="fa fa-rocket" style="color:red" aria-hidden="true"></i> Create New Promotion
                        </a>
                    </h3>
                </div>
            </div>
            <div v-if="Dashboard.ActivePromo !== null" class="col-md-6">
                <h2><i class="fa fa-flash" style="color:red" aria-hidden="true"></i> Active Promotion</h2>
                <div class="row">
                    <div v-if="Dashboard.ActivePromo">
                        <div class="col-md-4">
                            <a v-on:click="confirmStopActivePromo()" class="btn btn-danger" style="text-align:center"><i class="fa fa-warning" aria-hidden="true"></i> STOP PROMOTION NOW</a>
                        </div>
                        <div class="col-md-8">
                            <a id="createPromo" asp-area="Promotion" asp-controller="CreatePromo" asp-action="CreateNewPromo">
                                <i class="fa fa-rocket" style="color:red" aria-hidden="true"></i> Create New Promotion
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <div class="card" style="width:60%">

                    <i v-on:click="editOldPromo(Dashboard.ActivePromoId)"
                       class="fa fa-pencil-square-o fa-lg helpText"
                       title="View or edit this promotion"
                       aria-hidden="true">{{Dashboard.ActivePromo}}</i>
                    <i v-on:click="viewPromoEntries(Dashboard.ActivePromoId, Dashboard.ActivePromo)"
                       style="float:right" class="fa fa-info-circle fa-lg helpText"
                       title="View promotion entries"
                       aria-hidden="true"></i>
                    <br /><br />
                    <div>{{Dashboard.ActivePromoDiscount}}</div>
                    <div>Claimed Entries: {{Dashboard.ActivePromoClaimedEntries}}</div>
                    <div>End Date: {{Dashboard.ActivePromoEndDate}}</div>

                </div>
            </div>

            <div v-if="Dashboard.ActivePromo !== null" class="col-md-6">
                <div v-if="Dashboard.ActivePromoViews > 0">
                    <h2><i class="fa fa-line-chart" style="color:red" aria-hidden="true"></i> Promo Stats</h2>
                    <div id="pieChartStats"></div>
                </div>
                <div v-if="Dashboard.ActivePromoViews == 0">
                    <p style="color:red">Your active promotion '{{Dashboard.ActivePromo}}' has not been viewed yet.</p>
                </div>
            </div>
        </div>
    </div>

    <div hidden id="inactivePromoData" v-if="Dashboard.InactivePromos !== null">
        <div class="row">
            <div class="col-md-6">
                <h3><i class="fa fa-star-half-full" style="color:red" aria-hidden="true"></i> Inactive Promotions</h3>
            </div>
        </div>
        <div v-for="promo in Dashboard.InactivePromos">
            <div class="col-md-3">
                <div class="card">
                    <i v-on:click="editOldPromo(promo.PromoId)" 
                       class="fa fa-pencil-square-o helpText" 
                       title="View or edit this promotion" 
                       aria-hidden="true"> {{promo.PromoName}}
                    </i>
                    <i v-on:click="viewPromoEntries(promo.PromoId, promo.PromoName)" 
                       style="float:right" 
                       class="fa fa-info-circle helpText" 
                       title="View promotion entries" 
                       aria-hidden="true">
                    </i>
                    <br /><br />
                    {{promo.PromoDiscount}}
                </div>
            </div>
        </div>
    </div>

    <div id="stopPromoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Stop Active Promotion {{Dashboard.ActivePromo}}</h2>
                </div>
                <div class="modal-body">
                    <h3>Want to stop your promotion now?</h3>
                    <p>This action will take effect immediately on your website.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="stopPromoNow(Dashboard.ActivePromoId)"><i class="fa fa-warning" aria-hidden="true"></i> STOP NOW</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="userScriptModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title"><i class="fa fa-code" style="color:red" aria-hidden="true"></i> You custom website script</h1>
                </div>
                <div class="modal-body">
                    <h3>Insert this custom script into your website source code on every page you want your promotion to display.</h3>
                    <h3 style="background-color:#eee">{{Dashboard.ActivePromoScript}}</h3><br />
                    <p>
                        Adding our script to your website is very similar to installing a Google Analytics or Hotjar script.
                    </p>
                    <p>
                        It is recommended to put the script in a global or common footer location in your website.
                    </p>
                    <p>
                        This will allow your promotion to display on every page of your website.  You can also decide
                        to put this script only on specific pages.  However, this will limit the effectiveness of your promotion.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/Promo/dashboard.js"></script>