@{
    ViewData["Title"] = "OsO Easy Promo - Website Promo Dashboard";
}

<!--Vue container-->
<div id="dashboardApp">

    <div class="col-md-6" style="left:50%" id="ajaxLoading">
        <br /><br /><br />
        <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
        <!--todo, add help doc or video on how/why to create promotions when there is not one active yet.....-->
    </div>

    <div hidden id="activePromoData">
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-info" role="alert">
                    <p style="text-align:center">{{Dashboard.FreeTrialMessage}}  -  <strong>({{Dashboard.CurrentSubscription}})</strong></p>
                </div>
            </div>

            <div v-if="Dashboard.ScriptInstalled === true">
                <div class="col-md-6 alert alert-success helpText" role="alert" v-on:click="showUserScriptInfo()">
                    <p style="text-align:center"><i class="fa fa-code" aria-hidden="true"></i> Promo Script Installed</p>
                </div>
            </div>
            <div v-if="Dashboard.ScriptInstalled !== true">
                <div class="col-md-6 alert alert-danger helpText" role="alert" v-on:click="showUserScriptInfo()">
                    <p style="text-align:center"><i class="fa fa-warning" style="color:red" aria-hidden="true"></i> Promo Script NOT Detected</p>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div v-cloak v-if="Dashboard.ActivePromo === null">
                <div class="col-md-6">
                    <h3><i class="fa fa-warning" style="color:red" aria-hidden="true"></i> No active promotions currently</h3>
                </div>
            </div>
            <div v-if="Dashboard.ActivePromo !== null" class="col-md-6">
                <h2><i class="fa fa-flash" style="color:red" aria-hidden="true"></i> Active Promotion</h2>
                <div class="row">
                    <div v-if="Dashboard.ActivePromo" class="col-md-2">
                        <a v-on:click="confirmStopActivePromo()" class="btn btn-danger" style="text-align:center"><i class="fa fa-warning" aria-hidden="true"></i> STOP PROMOTION NOW</a>
                    </div>
                </div>
                <br />
                <div class="panel panel-primary" style="width:60%">
                    <div class="panel-heading">
                        <div style="color:white" class="panel-title">
                            <i v-on:click="editOldPromo(Dashboard.ActivePromoId)" class="fa fa-pencil-square-o fa-lg helpText" title="View or edit this promotion" aria-hidden="true"> {{Dashboard.ActivePromo}}</i>
                            <i v-on:click="viewPromoEntries(Dashboard.ActivePromoId, Dashboard.ActivePromo)" style="float:right" class="fa fa-info-circle fa-lg helpText" title="View promotion entries" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div>{{Dashboard.ActivePromoDiscount}}</div>
                        <div>Claimed Entries: {{Dashboard.ActivePromoClaimedEntries}}</div>
                        <div>End Date: {{Dashboard.ActivePromoEndDate}}</div>
                    </div>
                </div>
            </div>
            <div v-if="Dashboard.ActivePromo !== null" class="col-md-6">
                <h2><i class="fa fa-line-chart" style="color:red" aria-hidden="true"></i> Promo Stats</h2>
                <div class="well">
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                    <h3>Comming soon...</h3>
                </div>
            </div>
        </div>
    </div>

    <div hidden id="inactivePromoData" v-if="Dashboard.InactivePromos !== null">
        <div class="row">
            <div class="col-md-6">
                <h3><i class="fa fa-star-half-full" style="color:red" aria-hidden="true"></i> Inactive Promotions</h3>
            </div>
        </div>
        <div v-for="promo in Dashboard.InactivePromos">
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <i v-on:click="editOldPromo(promo.PromoId)" class="fa fa-pencil-square-o helpText" title="View or edit this promotion" aria-hidden="true"> {{promo.PromoName}}</i>
                            <i v-on:click="viewPromoEntries(promo.PromoId, promo.PromoName)" style="float:right" class="fa fa-info-circle helpText" title="View promotion entries" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="panel-body">
                        {{promo.PromoDiscount}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="stopPromoModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Stop Active Promotion {{Dashboard.ActivePromo}}</h2>
                </div>
                <div class="modal-body">
                    <h3>Want to stop your promotion now?</h3>
                    <p>This action will take effect immediately on your website.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="stopPromoNow(Dashboard.ActivePromoId)"><i class="fa fa-warning" aria-hidden="true"></i> STOP NOW</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="userScriptModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title"><i class="fa fa-code" style="color:red" aria-hidden="true"></i> You custom website script</h2>
                </div>
                <div class="modal-body">
                    <h2>Insert this custom script into your website source code on every page you want your promotion to display</h2>
                    <h3 style="background-color:#eee">{{Dashboard.ActivePromoScript}}</h3><br />
                    <h4>Here are some resources to help you out with this process</h4>
                    <p>Something1</p>
                    <p>Something2</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/js/Promo/dashboard.js"></script>