@{
    ViewData["Title"] = "Oso Easy Promo - Website Promo Dashboard";
}

<!--Vue container-->
<div id="dashboardApp">
    <section>
        <div class="container home-header-padding">
            <div id="ajaxLoading" class="col-sm-12" style="text-align:center">
                <br /><br /><br />
                <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
                <!--todo, add help doc or video on how/why to create promotions when there is not one active yet.....-->
            </div>

            <div style="display:none" id="activePromoData">
                <div class="row card-silver">
                    <div class="col-sm-6" style="padding-top:15px">
                        <p class="helpText" v-on:click="showUserScriptInfo()"><i class="fa fa-info-circle fa-lg" aria-hidden="true" style="color:red"></i> Site Script Info (Action Required)</p>
                    </div>
                    <div class="col-sm-6" style="padding-top:15px; text-align:right">
                        <a id="manage" asp-area="" asp-controller="Manage" asp-action="Index"
                           title="Manage Account">
                            <div v-if="Dashboard.AccountWarning == true"><i class="fa fa-info-circle fa-lg" aria-hidden="true" style="color:red"></i> {{Dashboard.DashboardMessage}}</div>
                            <div v-if="Dashboard.AccountWarning == false"><i class="fa fa-paper-plane" aria-hidden="true"></i> {{Dashboard.DashboardMessage}}</div>
                        </a>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div v-cloak v-if="Dashboard.ActivePromoName === null">

                        <h3><i class="fa fa-warning" style="color:red" aria-hidden="true"></i> No active promotion currently</h3>
                        <h3>
                            <a id="createPromo"
                               asp-area="Promotion"
                               asp-controller="CreatePromo"
                               asp-action="CreateNewPromo"
                               style="color:#005eff">
                                <i class="fa fa-rocket" aria-hidden="true"></i> Create New Promotion
                            </a>
                        </h3>
                    </div>
                    <div v-if="Dashboard.ActivePromoName !== null" class="col-sm-6">
                        <h2><i class="fa fa-flash" style="color:red" aria-hidden="true"></i> Active Promotion</h2>
                        <div v-if="Dashboard.ActivePromoName" class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button type="button" v-on:click="confirmStopActivePromo()" class="btn btn-danger" style="text-align:center">
                                        <i class="fa fa-warning" aria-hidden="true"></i> STOP PROMOTION NOW
                                    </button>
                                </div>
                                <div class="col-sm-6 offset-sm-2">
                                    <a id="createPromo"
                                       asp-area="Promotion"
                                       asp-controller="CreatePromo"
                                       asp-action="CreateNewPromo"
                                       style="color:#005eff">
                                        <i class="fa fa-rocket" aria-hidden="true"></i> Create New Promotion
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="card-white" style="width:70%">
                            <i v-on:click="editOldPromo(Dashboard.ActivePromoId, Dashboard.ActivePromoType)"
                               class="fa fa-pencil-square-o fa-lg helpText"
                               style="float:left; color:#005eff"
                               title="View or edit this promotion"
                               aria-hidden="true"></i>
                            <div v-if="Dashboard.ActivePromoType == 'coupon'">
                                <i v-on:click="viewPromoEntries(Dashboard.ActivePromoId, Dashboard.ActivePromoName)"
                                   class="fa fa-info-circle fa-lg helpText"
                                   style="float:right; color:#005eff"
                                   title="View promotion entries"
                                   aria-hidden="true"></i>
                            </div>
                            <h2 style="text-align:center">
                                {{Dashboard.ActivePromoName}}
                            </h2>
                            <div v-if="Dashboard.ActivePromoType == 'coupon'">
                                <h3>{{Dashboard.ActivePromoDiscount}}</h3>
                                <h4>Claimed Entries: {{Dashboard.ActivePromoClaimedEntries}}</h4>
                                <h4>End Date: {{Dashboard.ActivePromoEndDate}}</h4>
                                <p><i class="fa fa-tags" aria-hidden="true"></i> Coupon Promo</p>
                            </div>
                            <div v-if="Dashboard.ActivePromoType == 'social'">
                                <p><i class="fa fa-facebook-official" aria-hidden="true"></i> Social Promo</p>
                            </div>
                            <small style="color:red">{{Dashboard.ActivePromoWarningMessage}}</small>
                        </div>
                    </div>

                    <div v-if="Dashboard.ActivePromoName !== null && Dashboard.ActivePromoType == 'coupon'" class="col-sm-6">
                        <div v-if="Dashboard.ActivePromoViews > 0">
                            <h2><i class="fa fa-line-chart" style="color:red" aria-hidden="true"></i> Promo Stats</h2>
                            <div id="pieChartStats"></div>
                        </div>
                        <div v-if="Dashboard.ActivePromoViews == 0">
                            <p style="color:red">
                                Your active promotion '{{Dashboard.ActivePromoName}}' has not been viewed yet.
                                Once there are views we will display more promotion stats.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />

            <div style="display:none" id="inactivePromoData" v-if="Dashboard.InactivePromos !== null">
                <div class="row">
                    <h3><i class="fa fa-star-half-full" style="color:red" aria-hidden="true"></i> Inactive Promotions ({{InactivePromoCount}})</h3>
                </div>
                <div class="row">
                    <div v-for="promo in Dashboard.InactivePromos" class="col-sm-3">
                        <div style="padding:5px">
                            <div class="card-white">
                                <i v-on:click="editOldPromo(promo.PromoId, promo.PromoType)"
                                   class="fa fa-pencil-square-o helpText"
                                   style="float:left;color:#005eff"
                                   title="View or edit this promotion"
                                   aria-hidden="true">
                                </i>
                                <i v-if="promo.PromoType == 'coupon'" v-on:click="viewPromoEntries(promo.PromoId, promo.PromoName)"
                                   style="float:right; color:#005eff"
                                   class="fa fa-info-circle helpText"
                                   title="View promotion entries"
                                   aria-hidden="true">
                                </i>
                                <p style="text-align:center">
                                    <i v-on:click="activatePromoNow(promo.PromoId, promo.PromoType)"
                                       style="color:red"
                                       class="fa fa-play-circle-o fa-lg helpText"
                                       title="Activate this promotion now"
                                       aria-hidden="true">
                                    </i> {{promo.PromoName}}
                                </p>
                                <p>{{promo.PromoDiscount}}</p>
                                <div v-if="promo.PromoType == 'coupon'">
                                    <p><i class="fa fa-tags" aria-hidden="true"></i> Coupon Promo</p>
                                </div>
                                <div v-if="promo.PromoType == 'social'">
                                    <p><i class="fa fa-facebook-official" aria-hidden="true"></i> Social Promo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <br /><br />

    <div id="stopPromoModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Stop Active Promotion {{Dashboard.ActivePromoName}}</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Want to stop your promotion now?</h3>
                    <p>This action will take effect immediately on your website.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="stopPromoNow(Dashboard.ActivePromoId, Dashboard.ActivePromoType)"><i class="fa fa-warning" aria-hidden="true"></i> STOP NOW</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="userScriptModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title"><i class="fa fa-code" style="color:red" aria-hidden="true"></i> Your custom website script</h1>
                </div>
                <div class="modal-body">
                    <h3>Insert this custom script into your website source code on every page you want your promotion to display.</h3>
                    <br />
                    <p id="userScript" class="userScriptDisplay">{{Dashboard.ActivePromoScript}}</p>
                    <button type="button" class="btn btn-primary" v-on:click="copyToClipboard('#userScript')">Copy script</button>
                    <p id="copySuccess" style="color:blue; display:none">Script successfully copied to clipboard, use 'Control-V' to paste into your website!</p>
                    <p>
                        <br />
                        Adding our script to your website is very similar to installing a Google Analytics or Hotjar script.
                    </p>
                    <p>
                        It is recommended to put the script in a global or common footer location of your website.
                    </p>
                    <p>
                        This will allow your promotion to display on every page of your website.  You can also decide
                        to put this script only on specific pages.  However, this will limit the effectiveness of your promotion.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<environment names="Development">
    <script src="~/lib/vue/vue.js"></script>
</environment>
<environment names="Staging,Production">
    <!--Reference here instead of in footer because of null reference of Vue in a View-->
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.min.js" asp-append-version="true"
            asp-fallback-src="~/lib/vue/vue/min.js">
    </script>
</environment>

<script async src="~/js/Promo/dashboard.min.js"></script>
<script async type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>