<div id="promoHelpModalStep1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Promo Creation Help</h2>
            </div>
            <div class="modal-body">
                <p>
                    Feel free to try out different promotions for your website.
                    You can create different types of promotions, including coupon and social promotions.  You can only have 1 active promotion at a time.
                </p>
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>