<!--https://codepad.co/snippet/0UwSSypY-->

<!--image in middle of coupon box.....-->
<!--https://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height-->

<div hidden id="sliderContainer">
    <img id="slickImage" style="width:80px" onclick="slickSliderClicked()" />
    <div id='slickContactForm' class='slickFont'>
        <h2>{{PromoModel.title}}</h2>
        <h3>{{PromoModel.discount}}</h3>
        <p>Ends: {{PromoModel.endDate}}</p>
        <dl>
            <dt>{{PromoModel.details1}}</dt>
            <dt>{{PromoModel.details2}}</dt>
        </dl>
        <p><small>{{PromoModel.finePrint}}</small></p>
        <div class='slickInputBox'>
            <input required id='sliderName' type='text' placeholder='Name'>
        </div>
        <div class='slickInputBox'>
            <input required id='sliderEmail' type='text' placeholder='Email'>
        </div>
        <p id='sliderResponseMessage'></p>
        <div style="text-align:center">
            <button id="sliderButton" class='button' onclick='submitSlider()'>Claim Promotion</button>
        </div>
    </div>
</div>