<!--https://codepad.co/snippet/0UwSSypY-->
<!--image in middle of coupon box.....-->
<!--https://stackoverflow.com/questions/18516317/vertically-align-an-image-inside-a-div-with-responsive-height-->

<img id="osoImage" style="right:0px" onclick="osoSliderClicked()" />
<div hidden id="osoContainer">
    <div id='osoContactForm' class='osoFont'>
        <h2>{{PromoModel.title}}</h2>
        <h3>{{PromoModel.discount}}</h3>
        <p>Ends: {{PromoModel.endDate}}</p>
        <dl>
            <dt>{{PromoModel.details1}}</dt>
            <dt>{{PromoModel.details2}}</dt>
        </dl>
        <p><small>{{PromoModel.finePrint}}</small></p>
        <div id="osoFormInput">
            <div class='osoInputBox'>
                <input required id='osoUserName' type='text' placeholder='Full name'>
            </div>
            <div class='osoInputBox'>
                <input required id='osoUserEmail' type='text' placeholder='Email'>
            </div>
            <p id='osoPromoResponseMessage'></p>
            <div style="text-align:center">
                <button id="osoButton" class='button' onclick='submitOSOEasyPromotion()'>Claim Promotion</button>
            </div>
        </div>
        <div id="thankYou" hidden>
            <h2>{{PromoModel.thankYouMessage}}</h2>
        </div>
        <div style="text-align:center">
            <a href="https://www.OsOEasyPromo.com" style="font-size:60%; color:black">Built with OsOEasyPromo</a>
        </div>
    </div>
</div>