@{
    ViewData["Title"] = "Oso Easy Promo Blog - Articles and insights about custom website promotions";
    ViewData["MetaDescription"] = "Custom website promotions, coupons and social sharing blog.  Information for the savvy user and coupon clipper.";
}

<div class="home-header-container">
    <h1 class="home-header">Oso Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">View all our blog articles about website promotions and coupons below</h2>
</div>

<script async src="~/js/HomePage/homePage.min.js"></script>