@{
    ViewData["Title"] = "Business Analyser";
}

<h1>Business Analyser</h1>

<div id="analyser">

    <button class="btn btn-primary" v-on:click="placeTest()">Test API</button>


</div>

<script src="~/js/Home/analyser.js"></script>