@{
    ViewData["Title"] = "Oso Easy Promo Contact - Contact us with any questions you have";
    ViewData["MetaDescription"] = "Contact Oso Easy Promo support.  Fast and friendly support questions answered.";
}

<section>
    <img class="d-none d-lg-block" style="width:100%; opacity:.50; padding-top:50px" src="~/images/Home/oso_promo_contact_us.jpg" alt="Picture of kid yelling, it's a contact us picture." />

    <div class="container">
        <div style="position: absolute;top: 30%;">
            <div class="row">
                <h3><label for="userEmail">Email address</label></h3>
                <input type="email" class="form-control" id="userEmail">
            </div>
            <div class="row">
                <h3><label for="userComment">Enter your question or comment below</label></h3>
                <textarea class="form-control" id="userComment" rows="4"></textarea>
            </div>

            <br />
            <div class="row">
                <div onclick="contactUs()" class="btn btn-primary">Send Contact Request</div>
            </div>
            <h4 style="color:green; display:none" id="sendConfirmation">Email sent, thanks!</h4>
            <h4 style="color:red; display:none" id="confirmationError">Please fill out all form fields</h4>
        </div>
    </div>
</section>

<script async src="~/js/HomePage/homePage.min.js"></script>