@{
    ViewData["Title"] = "Oso Easy Promo Features - Build your own custom website promotion";
    ViewData["MetaDescription"] = "Fully control your website promotions and coupons.  Customize the look and feel of your promotions.  Start and stop anytime you want, you're in control.";
}

<img style="width:100%; opacity:.50; padding-top:50px" src="~/images/features/osoeasypromo_features_header.jpg" alt="Tech picture of computers, laptop and desktop" />

<section>
    <div class="container">
        <div class="row d-none d-sm-block">
            <div class="offset-sm-1" style="position: absolute;top: 20%">
                <h1 class="home-header">Oso Easy Promo Features</h1>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <div class="offset-sm-2" style="position: absolute;top: 35%;">
                <h2 style="font-family: 'Indie Flower', serif">Unique promotion creation software that is easy to use</h2>
            </div>
        </div>
    </div>
</section>

<br />
<section>
    <div class="container">

        <div class="row">
            <h1 class="mx-auto"><i class="fa fa-code" aria-hidden="true" style="color:green"></i> Create and edit your custom promotions</h1><br />
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4 offset-sm-2">
                <ul>
                    <li>
                        Create custom website promotions easily
                    </li>
                    <li>
                        Changes will show on your website right away
                    </li>
                    <li>
                        Start or stop a promotion any time you want
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>
                        You're in full control and we're here to help
                    </li>
                    <li>
                        Use some of our high quality images
                    </li>
                    <li>
                        Upload and use your own images and gifs
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%" class="feature-img img-responsive" src="~/images/Features/osoeasypromo_edit_promotion.gif" alt="A gif of editing an Oso Easy promotion." />
            </div>

        </div>
        <br /><br /><br />

        <div class="row">
            <h1 class="mx-auto"><i class="fa fa-calendar" aria-hidden="true" style="color:red"></i> Start and stop your promotions on your time</h1><br />
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4 offset-sm-2">
                <ul>
                    <li>
                        Easily stop and start promotions
                    </li>
                    <li>
                        If you start a new promotion, it will show on your site ASAP
                    </li>
                    <li>
                        Made a mistake?  Easily stop your active promotion
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>
                        Activate old promotions with a new start date
                    </li>
                    <li>
                        Set an end date and let your promotions expire automatically
                    </li>
                    <li>
                        You're in control every step of the way
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%" class="feature-img img-responsive" src="~/images/Features/osoeasypromo_stop_promotion.gif" alt="A gif of starting and stoping an Oso Easy promotion." />
            </div>

        </div>
        <br /><br /><br />

        <div class="row">
            <h1 class="mx-auto"><i class="fa fa-facebook-official" aria-hidden="true" style="color:#3b5998"></i> Create awesome social sharing buttons</h1><br />
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4 offset-sm-2">
                <ul>
                    <li>
                        Show multiple social sharing buttons
                    </li>
                    <li>
                        Select Facebook, Twitter, Pinterest and more
                    </li>
                    <li>
                        Select unique social buttons for your website
                    </li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul>
                    <li>
                        Social sharing buttons that come to life
                    </li>
                    <li>
                        New social sharing images being added all the time
                    </li>
                    <li>
                        Control what social media website your unique buttons link to
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%" class="feature-img img-responsive" src="~/images/Features/osoeasypromo_social_sharing_buttons.gif" alt="A gif of creating social sharing buttons with Oso easy promo." />
            </div>

        </div>
        <br /><br /><br />



        <div class="row">
            <br />
            <div class="mx-auto">
                <h1 style="font-family: 'Indie Flower', serif"> Try us risk free </h1><br />
                <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary">Try For Free</div>
                <div onclick="location.href='@Url.Action("Pricing", "Home")'" style="color:black" class="btn btn-lg btn-warning">See Pricing</div>
            </div>
        </div>
        <br />
        <div class="row">
            <h1 class="mx-auto">Got questions?  <a href="Contact">Easily contact support</a></h1>
        </div>
    </div>
</section>

<script async src="~/js/HomePage/homePage.min.js"></script>