@{
    ViewData["Title"] = "OsO Easy Promo Features - Build your own custom website promotion";
    ViewData["MetaDescription"] = "Fully control your website promotions and coupons.  Customize the look and feel of your promotions.  Start and stop anytime you want, you're in control.";
}

<div class="home-header-container">
    <h1 class="home-header">OsO Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">We made it easy to use</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/923iS98n11k?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<h2 style="font-family: 'Indie Flower', serif; text-align:center">Check out our unique features below</h2>
<div class="row">
    <h2><i class="fa fa-code" aria-hidden="true" style="color:red"></i> Advertise on your website with ease</h2><br />
</div>
<div class="row">
    <div class="col-md-6">
        <img class="feature-img" src="~/images/new_business_oso_easy.jpg" />
    </div>
    <div class="col-md-6 card" style="top:50px">
        <ul>
            <li>
                Install a script one time, then enjoy unlimited promotions on your website
            </li>
            <li>
                Any changes you make to your promotion here at OsO Easy Promo will be reflected on your website right away
            </li>
            <li>
                Start or stop a promotion any time you want
            </li>
            <li>
                You're in full control and we're here to help
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <br />
    <h1 style="font-family: 'Indie Flower', serif"><img src="~/images/osoeasypromo_panda_96.svg" /> Spot our promotion?  Made with OsO Easy Promo</h1>
</div>

<div class="row">
    <h2><i class="fa fa-dollar" aria-hidden="true" style="color:green"></i> Capture missed business from your current website traffic</h2><br />
</div>
<div class="row">
    <div class="col-md-6 card" style="top:25px">
        <ul>
            <li>
                Do your current website visitors know about a promotion you're running... on every page of your site?
            </li>
            <li>
                OsO Easy Promo shows all users on every page of your website your active promotion
            </li>
            <li>
                When claimed, we'll email your users your promotion/coupon code for redemption
            </li>
            <li>
                Then it's just up to your team to honor the coupon code online or in-person
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <img class="feature-img" src="~/images/drive_leads_oso_easy.jpg" />
    </div>
</div>

<div class="row">
    <br />
    <h1 style="font-family: 'Indie Flower', serif"><img src="~/images/osoeasypromo_panda_96.svg" /> Have a question?  We're here to help - Support@OsOEasyPromo.com</h1>
</div>

<div class="row">
    <h2><i class="fa fa-file-text-o" aria-hidden="true" style="color:red"></i> Build your Email marketing list the easy way</h2><br />
</div>
<div class="row">
    <div class="col-md-6">
        <img class="feature-img" src="~/images/email_list_oso_easy.jpg" />
    </div>
    <div class="col-md-6 card" style="top:35px">
        <ul>
            <li>
                You will have full access to all users who claim your coupons/promotions
            </li>
            <li>
                Use this list to market to your customers in the future and let them know about your new products.
                We will never sell or use your user's emails.  They are 100% yours.
            </li>
            <li>
                View analytics for helpful information about your users and how may times your promotion is seen and claimed
            </li>
            <li>
                Easily export your users emails for future use
            </li>
        </ul>
    </div>
</div>

<div class="row" style="text-align:center">
    <br />
    <h1 style="font-family: 'Indie Flower', serif"> Try us risk free </h1><br />
    <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary">Try For Free</div>
    <div onclick="location.href='@Url.Action("Pricing", "Home")'" style="color:black" class="btn btn-lg btn-warning">See Pricing</div>
</div>

<div class="row" style="text-align:center">
    <h1>Got questions?  Email us:</h1>
    <h3>Support@OsOEasyPromo.com</h3>
</div>

<script src="~/js/HomePage/homePage.js"></script>