@{
    ViewData["Title"] = "Mastodon";
}

<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-4">
        <h2>Promotion Dashboard</h2>
        <a asp-controller="Dashboard">
            <div id="sliderImage" onclick="animateHomeImage('sliderImage')"></div>
        </a>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4">
        <h2>Local Business Analyser</h2>
        <a asp-controller="Home" asp-action="BusinessAnalyser">
            <div id="analyserImage" onclick="animateHomeImage('analyserImage')"></div>
        </a>
    </div>

    <div class="col-md-1"></div>
</div>

<script src="~/js/Home/home.js"></script>