@{
    ViewData["Title"] = "Oso Easy Promo Home - Promotion Creator and Lead Generator Software";
    ViewData["MetaDescription"] = "Create and fully control unlimited custom website promotions.  Promotion and Coupon builder included.  Stop and start your promotion anytime.  Free trial included.";
}

<section>
    <img style="width:100%; opacity:.80; padding-top:50px" src="~/images/Home/oso_promo_landing_page.jpg" alt="Picture of a man at his computer overlooking a city at dusk." />

    <div class="container">
        <div class="row d-none d-sm-block">
            <div class="offset-sm-2" style="position: absolute;top: 20%;color:white;">
                <h1 class="home-header">Oso Easy Promo</h1>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <div class="offset-sm-1" style="position: absolute;top: 35%;color:white;">
                <h2 style="font-family: 'Indie Flower', serif;">New Promotion Creator & Lead Generator Software</h2>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <div class="offset-sm-3" style="position: absolute;top: 45%;color:white;">
                <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary btn-home-large">Try For Free</div>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <h3 class="offset-sm-1" style="font-family: 'Indie Flower', serif; position: absolute;top: 55%; color:white">
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Your promotion integrated on your own website, on your time
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Run Unlimited Custom Website Promotions
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Add Social Sharing buttons
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> You're in control
            </h3>
        </div>
    </div>
</section>

<br />

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%;" src="~/images/Home/oso_promo_features_for_use.jpg" alt="Picture of a computer with a lot of charts and graphs." />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card">
                    <h1 style="text-align:center"> <i class="fa fa-flask" aria-hidden="true" style="color:red"></i> Customize your promotions</h1>
                    <ul>
                        <li>Install a one time script, this will allow any changes you make to your promotion to take affect right away.</li>
                        <li>Once you have done this then you're in full control.  You can start, stop or change your promotion any time you wish, it's up to you how you handle your promotion.</li>
                        <li>You can set your own promotion code if you decide to run a coupon promotion.  Even set the end date and let the promotion end on its own.</li>
                        <li>Full customization and control are some of the best features of Oso Easy Promo.  You can change many different aspects of your promotion.  These changes include wording, color and even images that are displayed to your users.</li>
                        <li>Depending on the type of promotion you decide to run, we can collect users emails for you that claim your promotion.  You can then easily export this data and market to these users again in the future.</li>
                        <li>You're in control every step of the way, that's just the way it should be.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br />
    <section>
        <div class="container" style="text-align:center">
            <h2>Oso plays nicely with others</h2>
            <i class="fa fa-wordpress fa-3x" style="color:#21759b" aria-hidden="true"></i>
            <i class="fa fa-apple fa-3x" style="color:#8db600" aria-hidden="true"></i>
            <i class="fa fa-google fa-3x" style="color:#d62d20" aria-hidden="true"></i>
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            <i class="fa fa-apple fa-3x" style="color:#8db600" aria-hidden="true"></i>
            <i class="fa fa-html5 fa-3x" style="color:#e34f26" aria-hidden="true"></i>
            <i class="fa fa-firefox fa-3x" style="color:#DE5825" aria-hidden="true"></i>
            <i class="fa fa-grav fa-3x" aria-hidden="true"></i>
            <i class="fa fa-gitlab fa-3x" style="color:#FC6D26" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-3x" style="color:#0084b4" aria-hidden="true"></i>
            <i class="fa fa-facebook fa-3x" style="color:#3b5998" aria-hidden="true"></i>
            <i class="fa fa-drupal fa-3x" style="color:#0c76ab" aria-hidden="true"></i>
            <i class="fa fa-linux fa-3x" style="color:#772953" aria-hidden="true"></i>
            <i class="fa fa-edge fa-3x" style="color:#00ccff" aria-hidden="true"></i>
            <i class="fa fa-reddit-alien fa-3x" style="color:#000000" aria-hidden="true"></i>
            <i class="fa fa-stack-overflow fa-3x" style="color:#f48024" aria-hidden="true"></i>
            <i class="fa fa-amazon fa-3x" style="color:#ff9900" aria-hidden="true"></i>
            <i class="fa fa-linkedin fa-3x" style="color:#007bb6" aria-hidden="true"></i>
            <i class="fa fa-android fa-3x" style="color:#A4C639" aria-hidden="true"></i>
            <i class="fa fa-git fa-3x" aria-hidden="true"></i>
        </div>
    </section>
    <br />
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6">
                <div class="embed-responsive embed-responsive-16by9 hoverable">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/R5t-cXbqPV8?rel=0" style="height: 101%" allowfullscreen title="Explanation YouTube video of Oso Easy Promo."></iframe>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%;" src="~/images/Home/oso_promo_save_time_with_promotions.jpg" alt="Picture of a woman outside on her cell phone." />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card">
                    <h1 style="text-align:center"> <i class="fa fa-flask" aria-hidden="true" style="color:red"></i> Social sharing and more</h1>
                    <ul>
                        <li>We offer custom social sharing buttons as well, this will allow your users to engage with you and your products socially when you are not running a product promotion.</li>
                        <li>All our plans come with a free trial.  You can try out social sharing, run a custom website promotion or just play around with our software.</li>
                        <li>Oso Easy Promo is updated frequently, and any new features that are added you will automatically have access to.</li>
                        <li>When running a promotion you can choose things like where it will display on your website and what images to display.</li>
                        <li>You can upload your own product images to show and then link directly with your promotion to any product on your website you want to.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div style="padding:30px">
        <h3>Oso Easy Promo</h3>
        <p style="font-family: 'Indie Flower', serif">It's Oso Easy</p>
        <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary">Try For Free</div>
        <div onclick="location.href='@Url.Action("Features", "Home")'" class="btn btn-lg btn-primary">View Features</div>
        <div onclick="location.href='@Url.Action("Pricing", "Home")'" style="color:black" class="btn btn-lg btn-warning">See Pricing</div>
    </div>
</div>

<script asyc src="~/js/HomePage/homePage.min.js"></script>
