@{
    ViewData["Title"] = "OsO Easy Promo Home - Create Custom Website Promotions";
}

<div class="home-header-container">

    <h1 class="home-header">OsO Easy Promo</h1>

    <h2 style="font-family: 'Indie Flower', serif">Run Unlimited Custom Website Promotions</h2>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="padding:5px">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe allowFullScreen frameborder="1" mozallowfullscreen src="https://player.vimeo.com/video/247085255" webkitAllowFullScreen></iframe>
            </div>
        </div>
    </div>

    <div class="row">
        <h3 class="card" style="font-family: 'Indie Flower', serif">
            <br />
            <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> New custom coupon creator and lead generator
            <br />
            <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Your promotion, your website, on your time
            <br />
            <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> You're in control
        </h3>
    </div>
    <br />
    <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary btn-home-large">Try For Free</div>
    <h4>No commitment, no credit card, start now.</h4>
</div>

<div style="padding-bottom:50px">

    <div class="col-md-6">
        <h1>OsO Easy Promo Features</h1>

        <h3> <i class="fa fa-flask" aria-hidden="true" style="color:red"></i> Customize your promotion</h3>
        <div class="card">
            <p>Install a one time script (we'll help with this)</p>
            <p>Set a unique coupon/promo code</p>
            <p>Customize your promotion for your own website</p>
            <p>Select colors, wording and images</p>
        </div>
        <h3><i class="fa fa-cogs" aria-hidden="true" style="color:red"></i> Manage claimed promos</h3>
        <div class="card">
            <p>We'll collect your users emails for future marketing</p>
            <p>Follow up with your customer and get more sales</p>
        </div>
        <h3><i class="fa fa-rocket" aria-hidden="true" style="color:red"></i> You're in control</h3>
        <div class="card">
            <p>Control entries or set a promo end date</p>
            <p>Start and Stop your promo whenever you want</p>
            <p>You're in control every step of the way</p>
        </div>

        <div style="padding:30px">
            <h3>OsO Easy Promo</h3>
            <p style="font-family: 'Indie Flower', serif">It's OsO Easy</p>
            <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary">Try For Free</div>
            <div onclick="location.href='@Url.Action("Pricing", "Home")'" style="color:black" class="btn btn-lg btn-warning">See Pricing</div>
            <div onclick="location.href='@Url.Action("Features", "Home")'" class="btn btn-lg btn-primary">View Features</div>

        </div>
    </div>

    <div class="col-md-6">
        <h1>OsO Easy Integration</h1>
        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-wordpress fa-3x" style="color:#21759b" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-google fa-3x" style="color:#d62d20" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-apple fa-3x" style="color:#8db600" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2">
                <i class="fa fa-github fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-sm-offset-3">
                <i class="fa fa-firefox fa-3x" style="color:#DE5825" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-facebook fa-3x" style="color:#3b5998" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-drupal fa-3x" style="color:#0c76ab" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <img style="height:60px; width:60px" src="~/images/osoeasypromo_panda_48.svg" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2">
                <i class="fa fa-git fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-sm-offset-3">
                <i class="fa fa-edge fa-3x" style="color:#00ccff" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-amazon fa-3x" style="color:#ff9900" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-android fa-3x" style="color:#A4C639" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-gitlab fa-3x" style="color:#FC6D26" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2">
                <i class="fa fa-grav fa-3x" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-sm-offset-3">
                <i class="fa fa-twitter fa-3x" style="color:#0084b4" aria-hidden="true"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <i class="fa fa-reddit-alien fa-3x" style="color:#000000" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-html5 fa-3x" style="color:#e34f26" aria-hidden="true"></i>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-linux fa-3x" style="color:#772953" aria-hidden="true"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-1 col-sm-offset-2">
                <i class="fa fa-stack-overflow fa-3x" style="color:#f48024" aria-hidden="true"></i>
            </div>
            <div class="col-sm-1 col-sm-offset-3">
                <i class="fa fa-linkedin fa-3x" style="color:#007bb6" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>