@{
    ViewData["Title"] = "Oso Easy Promo Home - Promotion Creator and Lead Generation Software";
    ViewData["MetaDescription"] = "Create and fully control unlimited custom website promotions.  Promotion and Coupon builder included.  Stop and start your promotion anytime.  Free trial included.";
}

<section>
    <img style="width:100%; opacity:.80; padding-top:50px" src="~/images/Home/oso_promo_landing_page.jpg" alt="Picture of a man at his computer overlooking a city at dusk." />

    <div class="container">
        <div class="row d-none d-sm-block">
            <div class="offset-sm-2" style="position: absolute;top: 20%;color:white;">
                <h1 class="home-header">
                    Oso Easy Promo
                </h1>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <div class="offset-sm-1" style="position: absolute;top: 35%;color:white;">
                <h2 style="font-family: 'Indie Flower', serif;">New Promotion Creator and Lead Generation Software</h2>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <div class="offset-sm-3" style="position: absolute;top: 45%;color:white;">
                <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-primary btn-home-large">Try For Free</div>
            </div>
        </div>
        <div class="row d-none d-lg-block">
            <h3 class="offset-sm-2" style="font-family: 'Indie Flower', serif; position: absolute;top: 55%; color:white">
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Create custom promotions for you own website
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Start, stop and build your own promotions
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> Easily add social buttons
                <br />
                <i class="fa fa-caret-right" aria-hidden="true" style="color:red"></i> You're in control
            </h3>
        </div>
    </div>
</section>

<br />

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%;" src="~/images/Home/oso_promo_custom_promotion.jpg" alt="Picture of a computer with a lot of charts and graphs." />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card-white">
                    <h1 style="text-align:center"> <i class="fa fa-flask" aria-hidden="true" style="color:green"></i> Create a custom promotion</h1>
                    <ul class="mx-auto">
                        <li>Start a new engaging promotion campaign</li>
                        <li>Upload your own image or gif for your custom promotion</li>
                        <li>Set the end date of your promotion</li>
                        <li>Stop your custom promotion anytime</li>
                        <li>Collect and export users who claim your promotion</li>
                        <li>Manage and up-sell to your users</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%;" src="~/images/Home/oso_promo_new_leads.jpg" alt="Picture of a woman outside on her cell phone." />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card-white">
                    <h1 style="text-align:center"> <i class="fa fa-fire" aria-hidden="true" style="color:red"></i> Generate new leads</h1>
                    <ul>
                        <li>Offer online and in store specials</li>
                        <li>Create your promotion code</li>
                        <li>Generate new business with hot discounts</li>
                        <li>Reuse old promotions or create a new one each time</li>
                        <li>Export and market to your new leads</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <img style="width:100%;" src="~/images/Home/oso_promo_save_time_with_promotions.jpg" alt="Picture of a woman outside on her cell phone." />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 mx-auto">
                <div class="card-white">
                    <h1 style="text-align:center"> <i class="fa fa-twitter" aria-hidden="true" style="color:blue"></i> Social sharing and more</h1>
                    <ul class="mx-auto">
                        <li>Enhance your website with social buttons</li>
                        <li>Choose from different social buttons</li>
                        <li>Add just the buttons you want</li>
                        <li>Edit or remove social buttons you don't want or need</li>
                        <li>No extra integration needed for social buttons</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div style="padding:30px">
        <div class="col-md-6 mx-auto">
            <h3>Oso Easy Promo</h3>
            <p style="font-family: 'Indie Flower', serif">It's Oso Easy</p>
            <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary">Try For Free</div>
            <div onclick="location.href='@Url.Action("Features", "Home")'" class="btn btn-lg btn-primary">View Features</div>
            <div onclick="location.href='@Url.Action("Pricing", "Home")'" style="color:black" class="btn btn-lg btn-warning">See Pricing</div>
        </div>
    </div>
</div>

<script asyc src="~/js/HomePage/homePage.min.js"></script>
