@{
    ViewData["Title"] = "OsO Easy Promo Prices - Custom Website Promotion Price Points";
}

<div class="home-header-container">
    <h1 class="home-header">OsO Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">View our straight-forward pricing and choose the best option for your business</h2><br />
</div>

<h4><i class="fa fa-exclamation" aria-hidden="true" style="color:red"></i> Change or cancel OsO Easy Promo plans anytime</h4>

<div class="row" style="text-align:center; margin-bottom:2px">
    <div class="col-md-3 card">
        <h1>
            Free
        </h1>
        <h2>$0</h2>
        <small>For low traffic websites and blogs</small>
    </div>
    <div class="col-md-3 card" style="background-color:#CD7F32">
        <h1>
            Bronze
        </h1>
        <h2>$99 per month</h2>
        <small>For strong traffic sites</small>
    </div>
    <div class="col-md-3 card" style="background-color:#dcdcdc">
        <h1>
            Silver
        </h1>
        <h2>$299 per month</h2>
        <small>For growing traffic sites</small>
    </div>
    <div class="col-md-3 card" style="background-color:#ffbf00">
        <h1>
            Gold
        </h1>
        <h2>$1,499 per month</h2>
        <small>For high traffic & Enterprise sites</small>
    </div>
</div>

<div class="row">
    <div class="col-md-3 card">
        <ul>
            <li>
                <strong>Promo Claims Per Month:</strong> <br />
                <h4 style="padding-left:20px"><strong>0-100</strong></h4>
            </li>
        </ul>
        <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary btn-pricing ">Try For Free</div>
    </div>
    <div class="col-md-3 card">
        <ul>
            <li>
                <strong>Promo Claims Per Month:</strong> <br />
                <h4 style="padding-left:20px"><strong>Up to 1,500</strong></h4>
            </li>
            <li>
                Integration Support
            </li>
            <li>
                Complete Image Library Access for Promotions
            </li>
        </ul>
        <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary btn-pricing btn-pricing-bronze">Try For Free</div>
    </div>
    <div class="col-md-3 card">
        <ul>
            <li>
                <strong>Promo Claims Per Month:</strong> <br />
                <h4 style="padding-left:20px"><strong>Up to 5,000</strong></h4>
            </li>
            <li>
                Integration Support
            </li>
            <li>
                Complete Image Library Access for Promotions
            </li>
            <li>
                Priority Support
            </li>
        </ul>
        <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-primary btn-pricing btn-pricing-silver">Try For Free</div>
    </div>
    <div class="col-md-3 card">
        <ul>
            <li>
                <strong>Promo Claims Per Month:</strong> <br />
                <h4 style="padding-left:20px"><strong>Unlimited</strong></h4>
            </li>
            <li>
                Integration Support
            </li>
            <li>
                Complete Image Library Access for Promotions
            </li>
            <li>
                Priority Support
            </li>
        </ul>
        <div onclick="location.href='@Url.Action("Register", "Account")'" class="btn btn-lg btn-warning btn-pricing" style="color:black">Try For Free</div>
    </div>
</div>

<h1 style="text-align:center">All plans include:</h1>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <h4><i class="fa fa-clock-o" aria-hidden="true" style="color:red"></i> 10-Day Free Trial</h4>
        <h4 style="margin-left:10px"><i class="fa fa-handshake-o" aria-hidden="true" style="color:red"></i> 60-Day Money Back Guarentee</h4>
        <h4 style="margin-left:20px"><i class="fa fa-line-chart" aria-hidden="true" style="color:red"></i> Promotion Analytics</h4>
    </div>
    <div class="col-md-6">
        <h4><i class="fa fa-file-text-o" aria-hidden="true" style="color:red"></i> Unlimited Email Exports</h4>
        <h4 style="margin-left:10px"><i class="fa fa-database" aria-hidden="true" style="color:red"></i> Unlimited Promotion Data Storage</h4>
        <h4 style="margin-left:20px"><i class="fa fa-gears" aria-hidden="true" style="color:red"></i> Unlimited Promotion Customizations</h4>
    </div>
</div>

<div style="text-align:center">
    <h2>Ask About:</h2>
    <div class="row">
        <h4><i class="fa fa-shield" aria-hidden="true" style="color:red"></i> US Veteran Discount</h4>
    </div>
</div>

<h1 style="font-family: 'Indie Flower', serif"><img src="~/images/osoeasypromo_panda_96.svg" /> Drop us a line anytime - Support@OsOEasyPromo.com</h1>

<div style="padding:50px">
    <h1 style="text-align:center">Frequently asked questions:</h1>
    <ul>
        <li>
            <h2>What is the contract?</h2>
            <p>There is no contract.  You can upgrade/downgrade or cancel your plan with OsO Easy Promo anytime you want.</p>
        </li>
        <li>
            <h2>What is a promo claim?</h2>
            <p>
                A promo claim is specifically when a user on your website enters their email information to 'claim' an active promotion or coupon you are running on your website.
                When this promo is 'claimed' that user will receive an email with your promo code.  It is then up to you to honor this code online or in-person.
            </p>
        </li>
        <li>
            <h2>What is required to setup an OsO Easy Promotion?</h2>
            <p>
                A one-time script must be installed on your website.  With the higher level plans we can do this for you if you would like.  This integration is required to allow for
                controlling your custom promotions here at OsO Easy Promo and seeing your changes applied right away.  We offer instructions setting up this script as well as
                support for this process too.
            </p>
        </li>
        <li>
            <h2>What happens if I reach my claim limit?</h2>
            <p>
                You will be notified via Email that your plan limit has been reached and to continue receiving entries you must upgrade your plan.
                Once your plan is upgraded you can continue to receive entries/claims for your cusrrent coupon/promotion.
            </p>
        </li>
        <li>
            <h2>How does the free trial work?</h2>
            <p>
                You will have full access to our features, once the trial is up you must purchase a plan to continue using our service, unless you plan to stay with the free plan.
            </p>
        </li>
        <li>
            <h2>What is the image library?</h2>
            <p>
                This is our custom library that is frequently updated with amazing images you can use to promote your products and services
                on your website.  As we add new images, the higher level plans will have full access to these images.  The lower level plans
                can purchase these images for an additional fee.
            </p>
        </li>
        <li>
            <h2>What is with the discounts?</h2>
            <p>
                I offer a US Veteran discount because I am a US Army Veteran and want to give back to the community.<br />
                Email us to talk about our Veteran discounts.<br />
                <b>Support@OsOEasyPromo.com </b>
            </p>
        </li>
    </ul>

    <div class="row" style="text-align:center">
        <h1>Got questions?  Email us:</h1>
        <h3>Support@OsOEasyPromo.com</h3>
    </div>
</div>
