@{
    ViewData["Title"] = "OsO Easy Promo Prices - Custom Website Promotion Price Points";
}

<div class="home-header-container">

    <h1 class="home-header">OsO Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">View our pricing and pick the best option for your business</h2><br />

</div>