@{
    ViewData["Title"] = "Access Denied";
}

<header>
    <h1 class="text-danger">Access Denied.</h1>
    <img src="~/images/osoeasypromo_panda_96.svg" alt="Oso Easy Promo logo, a panda bear" />
    <p class="text-danger">You do not have access to this resource.</p>
</header>
