@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Oso Easy Promo - Forgot your password?";
    ViewData["MetaDescription"] = "Forgot your password?  Reset your Oso Easy Promo password here and receive an email with a recovery password.";
}

<div class="home-header-container">
    <h1 class="home-header">Oso Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">Forgot your password?</h2>
    <img src="~/images/osoeasypromo_panda_96.svg" />
</div>

<div class="col-sm-6 col-sm-offset-2">Enter your email address below to reset your password.</div>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
    <hr />
    <div class="form-group">
        <label asp-for="Email" class="col-sm-2 control-label">Email:</label>
        <div class="col-sm-6">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
