@{
    ViewData["Title"] = "Oso Easy Promo - Forgot Password Confirmation";
}

<div class="home-header-container">
    <h1 class="home-header">Oso Easy Promo</h1>
    <img src="~/images/osoeasypromo_panda_96.svg" alt="Oso Easy Promo logo, a panda bear" />
    <h2 style="font-family: 'Indie Flower', serif">Check your email for your new password!</h2>
</div>