@model RegisterViewModel
@{
    ViewData["Title"] = "OsO Easy Promo - New User Registration";
    ViewData["MetaDescription"] = "Register for a new Oso Easy Promo account.  All new accounts include a free trial.  Contact us with questions on custom website promotions and coupons anytime.";
}
<meta name="google-signin-client_id" content="1029927866471-817snd2hini839grjun4p5l63t6c558n.apps.googleusercontent.com">

<div class="home-header-container">
    <h2 style="font-family: 'Indie Flower', serif">New user registiration, start free trial</h2>
    <img src="~/images/osoeasypromo_panda_96.svg" /><br />
</div>

    <div class="col-sm-9 col-sm-offset-3">
        <div id="google-signin"></div>
        <h3 hidden id="googleLoginStatus"><i class="fa fa-spin fa-circle-o-notch" aria-hidden="true"></i>  Signing in with Google...</h3>
        <br />
    </div>
    <h3 style="text-align:center">OR</h3>

<form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Email" class="col-sm-2 col-sm-offset-1 control-label"></label>
        <div class="col-sm-6">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Password" class="col-sm-2 col-sm-offset-1 control-label"></label>
        <div class="col-sm-6">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-sm-2 col-sm-offset-1 control-label"></label>
        <div class="col-sm-6">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-2">
            <button type="submit" class="btn btn-lg btn-primary">Register with email</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/HomePage/homePage.js"></script>
    <script src="~/js/Account/signIn.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=showGoogleLogin" async defer></script>
}
