@{
    ViewData["Title"] = "OsO Easy Promo - Reset Password Confirmation";
}

<div class="home-header-container">
    <h1 class="home-header">OsO Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">Success, your password was reset!</h2>
    <img src="~/images/osoeasypromo_panda_96.svg" />
</div>

<p>
    Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
</p>
