<h3 id="slickImageMessage">View your slider here!</h3>

<div id="slickSlider">
    <img id="slickImage" onclick="slickSliderClicked()" />
    <div id="slickContactForm" class="slickFont Fixed">
        <h2 id="sliderFormName">Contact Us</h2>
        <p id="sliderMessageHeader">Please fill out some info below and we will respond ASAP!</p>
        <div class="slickInputBox">
            <input type="text" placeholder="Your Name">
        </div>
        <div class="slickInputBox">
            <input type="text" placeholder="Your Email">
        </div>
        <h4 id="sliderCallToAction">Send us your message below</h4>
        <textarea id="sliderUserMessage" class="userInputTextArea"></textarea>
        <button class="button button1">Send Message</button>
    </div>
</div>

<script src="~/js/clientSlider.js" asp-append-version="true"></script>