@model IndexViewModel
@{
    ViewData["Title"] = "OsO Easy Promo - Manage Your Account";
}

<div class="home-header-container">
    <h1 class="home-header">OsO Easy Promo</h1>
    <h2 style="font-family: 'Indie Flower', serif">Manage your account</h2>
    <img src="~/images/osoeasypromo_panda_96.svg" />
</div>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
    </dl>
</div>
