/*Colors
    Grey (top header background): #f7f7f7
    Hover blue #005eff

    Facebook colors: http://www.color-hex.com/color-palette/185
    Blue colors: http://www.color-hex.com/color-palette/7308
*/

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: #f7f8fa !important;
}

.home-header {
    font-weight: 700;
    font-size: 80px;
}

.home-header-container {
    padding-top:70px;
    text-align: center;
}

.home-header-padding {
    padding-top:70px;
}

.home-container-2 {
    height: 250px;
    text-align: center;
    color: #5c666d;
}

.card-white {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    padding: 10px;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-bronze {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #CD7F32;
    padding: 10px;
}

    .card-bronze:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-silver {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #dcdcdc;
    padding: 10px;
}

    .card-silver:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-gold {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #ffbf00;
    padding: 10px;
}

    .card-gold:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.btn, .feature-img {
    box-shadow: 5px 5px 5px #888888;
}


.btn-primary {
    background-color: #005eff;
    border-color: #005eff;
}

    .btn-primary:hover {
        background-color: #0900ff;
    }

.btn-warning {
    background-color: #ffcf40;
    border-color: #ffcf40;
}

    .btn-warning:hover {
        background-color: #ffbf00;
        border-color: #ffbf00;
    }

.btn-home-large {
    padding: 20px 30px;
    font-size: 25px;
}

.btn-pricing {
    display: block;
    margin: 15px;
}

.btn-pricing-silver {
    background-color: #dcdcdc;
    border-color: #dcdcdc;
    color: black;
}

    .btn-pricing-silver:hover {
        background-color: #cbcbcb;
        border-color: #cbcbcb;
        color: black;
    }

.btn-pricing-bronze {
    background-color: #CD7F32;
    border-color: #CD7F32;
    color: black;
}

    .btn-pricing-bronze:hover {
        background-color: #A75B10;
        border-color: #A75B10;
        color: black;
    }

.btn-pricing-gold {
    background-color: #ffbf00;
    border-color: #ffbf00;
    color: black;
}

    .btn-pricing-gold:hover {
        background-color: #b29600;
        border-color: #b29600;
        color: black;
    }

    .btn-pricing-gold:checked {
        background-color: #ffbf00;
    }

.home-card-content {
    color: black;
}

/*To override the nav header on the website*/
.navClicked {
    background-color: #eee;
}

.brand, .nav > li > a:hover {
    color: #005eff;
}

.navbar-nav > li > a {
    color: black;
    font-size: large;
    border-radius: 25px;
}

.navbar-toggle {
    background-color: #dfe3ee;
}

.small-nav::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.header-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.panel-primary > .panel-heading {
    background-color: #005eff;
}

.promo-border {
    border-color: #C1E0FF;
    border-width: 5px;
    border-style: solid;
}

[v-cloak] {
    display: none;
}

#sliderImage {
    background-image: url('../images/slider2.svg');
    height: 300px;
    width: 300px;
}

label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

    label > input + img { /* IMAGE STYLES */
        cursor: pointer;
        border: 2px solid transparent;
    }

    label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
        border: 3px solid #00FF55;
    }

.helpText {
    cursor: pointer;
}

input[type=checkbox] {
    /* 1.5-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

.userScriptDisplay {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: red;
    background-color: lightgray;
}

.social-label {
    font-size:18px;
}

/*Keep div centered in middle of screen:
http://stackoverflow.com/questions/5012111/how-to-position-a-div-in-the-middle-of-the-screen-when-the-page-is-bigger-than-t

CSS Form Ideas:
https://www.sanwebe.com/2014/08/css-html-forms-designs
https://www.freshdesignweb.com/css-registration-form-templates/
https://dcrazed.com/free-css3-sign-up-registration-forms/
*/
