/*Colors
    Grey (top header background): #f7f7f7
    Hover blue #005eff

    Facebook colors: http://www.color-hex.com/color-palette/185
    Blue colors: http://www.color-hex.com/color-palette/7308
*/

body {
    background: #dfe3ee !important;
}

/*.btn {
    background-color: #009fff;
}

    .btn:hover {
        background-color: #00f9ff;
    }*/

/*To override the nav header on the website*/
.brand, .nav > li > a:hover {
    color: #005eff;
}

.navbar-nav > li > a {
    color: black;
    font-size: large;
}

.navbar-toggle {
    background-color: #dfe3ee;
}

.small-nav::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.header-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}




[v-cloak] {
    display: none;
}

#sliderImage {
    background-image: url('../images/slider2.svg');
    height: 300px;
    width: 300px;
}

#analyserImage {
    background-image: url('../images/analyser2.svg');
    height: 300px;
    width: 300px;
}

label > input { /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}

    label > input + img { /* IMAGE STYLES */
        cursor: pointer;
        border: 2px solid transparent;
    }

    label > input:checked + img { /* (RADIO CHECKED) IMAGE STYLES */
        border: 3px solid #00FF55;
    }

.helpText {
    cursor: pointer;
}

input[type=checkbox] {
    /* 1.5-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
}

/*Keep div centered in middle of screen:
http://stackoverflow.com/questions/5012111/how-to-position-a-div-in-the-middle-of-the-screen-when-the-page-is-bigger-than-t

CSS Form Ideas:
https://www.sanwebe.com/2014/08/css-html-forms-designs
https://www.freshdesignweb.com/css-registration-form-templates/
https://dcrazed.com/free-css3-sign-up-registration-forms/
*/
