.jumbotron {
    background-size: cover;
    background-color: #8c8c8c;
}


/*Color for Lime Green: 1FD301 
*/

#sliderImage {
    background-image: url('../images/slider1.svg');
    height: 300px;
    width: 300px;
}

    #sliderImage:hover {
        background-image: url('../images/slider2.svg');
    }

#analyserImage {
    background-image: url('../images/analyser1.svg');
    height: 300px;
    width: 300px;
}

    #analyserImage:hover {
        background-image: url('../images/analyser2.svg');
    }
