.slickFont {
    font-family: Helvetica;
}

#sliderContainer {
    position: fixed;
    z-index: 99 !important;
    right: 0px;
    top: 30%;
}

#slickImage {
    position: relative;
    /*box-shadow: 0 0 8px gray;*/
    margin-top: 35%;
    cursor: pointer;
    float: left;
}

#slickContactForm {
    position: relative;
    width: 300px;
    border: 1px solid #d8d8d8;
    padding: 10px 20px;
    /*border-radius: 5px;  ...for rounded edges...*/ /*todo Adjust this for user*/
    box-shadow: 5px 0 50px gray; /*todo Adjust this for user*/
    background-color: white; /*todo Adjust this for user*/
    float: right;
}

.slickInputBox input[type='text'] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 95%;
    margin-bottom: 5px;
}

    .slickInputBox input[type='text'].focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }

.userInputTextArea {
    padding: 10px;
    height: 50px;
    width: 95%;
    resize: none;
    border: solid 1px #dcdcdc;
    margin-bottom: 5px
}

    .userInputTextArea.focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5% 5%;
    font-size: 100%;
    cursor: pointer;
}

.coupon {
    border: 3px dashed #ccc;
}