<div class="socialContainer" id="socialContainerId">
    <a v-bind:href="'https://www.facebook.com/' + SocialModel.facebookURL" target="_blank">
        <img class="socialImage" id="facebookImage" />
    </a>
    <a v-bind:href="'https://www.twitter.com/' + SocialModel.twitterURL" target="_blank">
        <img class="socialImage" id="twitterImage" />
    </a>
    <a v-bind:href="'https://www.instagram.com/' + SocialModel.instagramURL" target="_blank">
        <img class="socialImage" id="instagramImage" />
    </a>
    <a v-bind:href="'https://www.linkedin.com/' + SocialModel.linkedinURL" target="_blank">
        <img class="socialImage" id="linkedinImage" />
    </a>
    <a v-bind:href="'https://www.pinterest.com/' + SocialModel.pinterestURL" target="_blank">
        <img class="socialImage" id="pinterestImage" />
    </a>
</div>