.osoFont {
    font-family: Helvetica;
}

#osoContainer {
    position: fixed;
    width: 300px;
    oso_side_of_screen: -300px;
    top: 30%;
}

#osoImage {
    position: fixed;
    z-index: 99 !important;
    /*box-shadow: 0 0 8px gray;*/
    oso_side_of_screen: 0px;
    top: 50%;
    cursor: pointer;
    width: oso_image_width;
}

#osoContactForm {
    position: relative;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    border: oso_coupon_border;
    padding: 10px 20px;
    /*border-radius: 5px;  ...for rounded edges...*/ /*todo Adjust this for user*/
    box-shadow: 5px 0 50px gray; /*todo Adjust this for user*/
    background-color: oso_background_color; /*todo Adjust this for user*/
    float: oso_side_of_screen;
}

.osoInputBox input[type='text'] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
    width: 95%;
    margin-bottom: 5px;
}

    .osoInputBox input[type='text'].focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }

.userInputTextArea {
    padding: 10px;
    height: 50px;
    width: 95%;
    resize: none;
    border: solid 1px #dcdcdc;
    margin-bottom: 5px
}

    .userInputTextArea.focus {
        border: solid 1px #707070;
        box-shadow: 0 0 5px 1px #969696;
    }

.button {
    background-color: oso_button_color;
    border: none;
    color: white;
    padding: 5% 5%;
    font-size: 100%;
    cursor: pointer;
}

.coupon {
    border: 3px dashed #ccc;
}
