<!--This partial view will be updated to show the user what their custom promotion will look and act like....-->
@{ await Html.RenderPartialAsync("PromoSlider.cshtml"); }

<form id="promoForm">
    <div class="row form-group">
        <div class="col-sm-4">
            <label for="Title">Title:</label>
            <input for="Title" id="Title" type="text" v-model="PromoModel.title" class="form-control">
            <small id="titleMissing" style="color:red; display:none">Title is required</small>
        </div>
        <div class="col-sm-4">
            <label for="Code">Promotion Code:</label>
            <input for="Code" id="code" type="text" v-model="PromoModel.code" class="form-control">
            <small id="codeMissing" style="color:red; display:none">Code is required</small>
        </div>
        <div class="col-sm-4">
            <label for="EndDate">End Date:</label>
            <input for="EndDate" id="endDate" type="date" v-model="PromoModel.endDate" v-on:change="formatDate()" class="form-control">
            <small id="dateMissing" style="color:red; display:none">Date is required</small>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            <label for="Discount">Discount:</label>
            <input for="Discount" id="discount" type="text" v-model="PromoModel.discount" class="form-control"
                   placeholder="eg: 50% off everything!">
            <small id="discountMissing" style="color:red; display:none">Discount is required</small>
        </div>
        <div class="col-sm-3">
            <label for="Details1">Details 1:</label>
            <input for="Details1" type="text" v-model="PromoModel.details1" class="form-control">
        </div>
        <div class="col-sm-3">
            <label for="Details2">Details 2:</label>
            <input for="Details2" type="text" v-model="PromoModel.details2" class="form-control">
        </div>
        <div class="col-sm-3">
            <label for="FinePrint">Fine Print:</label>
            <input for="FinePrint" type="text" v-model="PromoModel.finePrint" class="form-control">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-3">
            <label for="BackgroundColor" style="padding-right:5px">Background Color: </label>
            <input for="BackgroundColor" id="backgroundColor" type="color" v-model="PromoModel.backgroundColor" v-on:change="setFormBackgroundColor()">
        </div>
        <div class="col-sm-3">
            <label for="ButtonColor" style="padding-right:5px">Button Color: </label>
            <input for="ButtonColor" id="buttonColor" type="color" v-model="PromoModel.buttonColor" v-on:change="setFormButtonColor()">
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="ShowCouponBorder" v-model="PromoModel.showCouponBorder" v-on:change="showCouponBorder()">
                <label class="custom-control-label helpText" for="ShowCouponBorder" style="padding-right:5px">Show a coupon border? </label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="LargeImageSize" v-model="PromoModel.showLargeImage" v-on:change="showLargeImage()">
                <label class="custom-control-label helpText" for="LargeImageSize" style="padding-right:5px">Show a larger image? </label>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="custom-control custom-radio">
                <input v-model="PromoModel.sideOfScreen" v-on:change="setUserPromoProperties()" type="radio" id="rightSidePromo" class="custom-control-input" value="right">
                <label class="custom-control-label helpText" for="rightSidePromo">Right side of screen</label>
            </div>
            <div class="custom-control custom-radio">
                <input v-model="PromoModel.sideOfScreen" v-on:change="setUserPromoProperties()" type="radio" id="leftSidePromo" class="custom-control-input" value="left">
                <label class="custom-control-label helpText" for="leftSidePromo">Left side of screen</label>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-sm-6">
            <label for="thankYouMsg">
                <i class="fa fa-question-circle-o helpText"
                   style="color:#337ab7"
                   aria-hidden="true"
                   v-on:click="showFormSubmitHelp()">
                </i> Form Submit Thank You Message:
            </label>
            <input for="thankYouMsg"
                   type="text"
                   v-model="PromoModel.thankYouMessage"
                   class="form-control"
                   placeholder="eg: Check your email for you coupon code!">
            <small id="thankYouMissing" style="color:red; display:none">Thank you message is required</small>
        </div>
    </div>

    <br />
    <small>*New images being added all the time, check back often</small>
    <h2>
        Choose an image:
        <button type="button"
                class="btn btn-success"
                v-on:click="getPromoImages('animals')"
                style="box-shadow:0px 0px 0px">
            Animals
        </button>
        <button type="button"
                class="btn btn-info"
                v-on:click="getPromoImages('style')"
                style="box-shadow:0px 0px 0px">
            Style
        </button>
        <button type="button"
                class="btn btn-default"
                v-on:click="getPromoImages('tech')"
                style="box-shadow:0px 0px 0px">
            Tech
        </button>
        <button type="button"
                class="btn btn-pricing-gold"
                v-on:click="getPromoImages('coupon')"
                style="box-shadow:0px 0px 0px">
            Coupon
        </button>
        <button type="button"
                class="btn btn-pricing-bronze"
                v-on:click="getPromoImages('misc')"
                style="box-shadow:0px 0px 0px">
            Misc
        </button>
        <button type="button"
                class="btn btn-pricing-silver"
                v-on:click="getPromoImages('social')"
                style="box-shadow:0px 0px 0px">
            Social
        </button>
        <button type="button"
                class="btn btn-danger"
                v-on:click="getPromoImages('tactical')"
                style="box-shadow:0px 0px 0px">
            Tactical
        </button>
        <button type="button"
                class="btn btn-warning"
                v-on:click="getPromoImages('nature')"
                style="box-shadow:0px 0px 0px">
            Nature
        </button>

    </h2>

    <div class="col-sm-6 mx-auto" style="display:none" id="imagesLoading">
        <i class="fa fa-spin fa-circle-o-notch fa-5x" aria-hidden="true"></i>
    </div>

    <div class="col-sm-10">
        <label v-for="(name, index) in PromoImages">
            <img :src="getDefaultImagePath(name)"
                 class="helpText"
                 v-bind:id="'image_' + index"
                 v-on:click="setPromoImage(name, 'image_' + index, false)"
                 style="width:64px; height:64px" />
        </label>
    </div>
</form>
<h3 class="offset-sm-3">Or</h3>

<h2>Upload and use your own images:</h2>
@if (ViewBag.subscription == "Free Account")
{
    <div class="col-md-6">
        <a class="nav-link" id="manage" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage Account"><h4><i class="fa fa-info-circle" aria-hidden="true"></i> Upgrade your account to use custom images</h4></a>
    </div>
}
else
{
    <form method="post" enctype="multipart/form-data" asp-controller="CreatePromo" asp-action="UploadUserImage">
        <div class="row">
            <div class="custom-file col-md-5">
                <input type="file" name="files" v-on:change="fileChange($event.target.files)" class="custom-file-input" id="customFileUpload" multiple="multiple" aria-describedby="customFileUpload">
                <label class="custom-file-label" for="customFileUpload">Choose image </label>
            </div>
            <div v-if="FilesToUpload.length > 0 && fileError == ''" class="col-md-2">
                <button type="submit" class="btn btn-primary">Upload Images</button>
            </div>
            <p class="col-sm-4" style="color:red">{{fileError}}</p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p v-for="file in FilesToUpload">
                    {{file}}
                </p>
            </div>
        </div>
    </form>
    <br />

    <h2>Your images: </h2>
    <div class="col-sm-10">
        <label v-for="(name, index) in UserImages">
            <img :src="getUserImagePath(name)"
                 class="helpText"
                 v-bind:id="'userimage_' + index"
                 v-on:click="setPromoImage(name, 'userimage_' + index, true)"
                 style="width:64px; height:64px" />
        </label>
    </div>
}

<div class="col-md-3 mx-auto">
    <button type="button"
            v-on:click="saveCustomPromo()"
            id="savePromo"
            class="btn btn-primary btn-home-large">
        <i class="fa fa-cloud-upload" aria-hidden="true"></i> Save Promotion
    </button>
</div>
<br /><br /><br />

<div id="formSubmitHelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Promotion submission</h2>
            </div>
            <div class="modal-body">
                <p>This field is for a custom message to your users once they submit their email and name for your promotion.</p>
                <p>Make sure to let your users know their promotion code will be emailed to them.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>